taskbar{
  font-size: .5em;
  font-weight: normal;
  line-height: normal;
  display: block;
  transition: .25s;
  transition-delay: 1s;

  task{
    display: block;
    margin: 0 0 0 20px;
    cursor: pointer;
  }
}