
  task{
    display: block;
    margin: 0 0 8px 3px;
    cursor: pointer;
    position: relative;

    &:last-child{
      margin-bottom: 0;
    }

    check{
      margin: 0 7px 0 0;

      img{
        vertical-align: -.1em;
      }
    }

}