<div ng-controller="objectiveListController">
    <objectives>
        <parent-objectives>
            <objective mode="collapsed" ng-repeat="parentObjective in parentObjectives" ng-click="loadParentObjective(parentObjective.key)">{{parentObjective.objective.name}}</objective>
        </parent-objectives>
        <main-objective>
            <objective mode="expanded" tasks="tasks" on-update="updateObjective()" on-delete="deleteObjective()" ng-model="objective">
                <child-objectives>
                    <objective mode="mini" ng-repeat="objective in objective.subObjectives" ng-model="objective" ng-click="loadChildObjective($index)"></objective>
                    <add-button class="ghost" add-field="right" on-add="addNewSubObjective(name)">
                        +
                    </add-button>
                </child-objectives>
            </objective>
        </main-objective>
    </objectives>
</div>