child-objectives{
  margin-bottom: 8px;
  margin-top: 0;
}

objectives{
  margin-right: 10px;
  display: inline-block;
  overflow: hidden;
  position: relative;

  objective-tools{
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 10;
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 0;
    border-radius: 5px 0 0 5px;
    transition: .25s;

    &.collapsed{
      left: 600px;
      transition: .25s;
    }

    collapse-handle{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 10px;
      border-right: solid 1px #555;
      cursor: pointer;

      i{
        margin-top: 65px;
        margin-left: 3px;
        color: #888;
      }
    }

    tool{
      display: block;
      padding: 10px 20px 10px 10px;
      margin-left: 10px;
      cursor: pointer;

      &:not(:last-child){

      }

      &:hover{
        background: #555;
      }
    }
  }
}