<span>
    <abbreviation ng-if="objective && mode == 'mini'">{{objective.name}}</abbreviation>
    <span ng-if="objective && mode == 'expanded'">
        <header>
            <name>
                <span ng-model="objective.name" contenteditable="true" ng-blur="onUpdate()"></span>
            </name>
            <toolbar>
                <tool class="right" ng-click="onDelete()" tooltip="Delete Objective">
                    <i class="fa fa-times-circle-o"></i>
                </tool>
                <tool class="right" ng-click="onComplete()" tooltip="Complete Objective">
                    <i class="fa fa-check-circle-o"></i>
                </tool>
            </toolbar>
        </header>
        <taskbar ui-sortable="taskSortOptions" ng-model="tasks">
            <task ng-repeat="task in tasks" on-completed-changed="toggleComplete(task)">{{task.name}}</task>
        </taskbar>
        <add-task-button class="ghost" add-field="right" field-height="30" on-add="addTask(text)" tooltip="Add Task...">
            <plus>+</plus></add-task-button>
    </span>
    <ng-transclude></ng-transclude>
    <task-info-panel ng-show="taskIsSelected" ng-if="mode == 'expanded'"></task-info-panel>
    <progressbar progress="objective.progress"></progressbar>
</span>