<span>
    <abbreviation ng-if="objective && mode == 'mini'">{{objective.name}}<span ng-show="objective.public"> (public)</span></abbreviation>
    <span ng-if="objective && mode == 'expanded'">
        <header>
            <name>
                <span ng-model="objective.name" contenteditable="true" ng-blur="onUpdate()"></span>
                <span ng-show="objective.public">(public)</span>
            </name>
            <tool-toggle>
                <i class="fa fa-reorder" ng-click="tools.show = true"></i>
            </tool-toggle>
        </header>
        <slide-panel>
            <add-button class="ghost" add-field="right" on-add="addTask(text)" tooltip="Add Task...">
                +
            </add-button>
        </slide-panel>
        <message ng-show="tasks.length == 0">
            There are currently no tasks.  Add one by clicking above.
        </message>
        <taskbar ui-sortable="taskSortOptions" ng-model="tasks">
            <task ng-repeat="task in tasks" on-completed-changed="toggleComplete(task)">{{task.name}}</task>
        </taskbar>
    </span>
    <ng-transclude></ng-transclude>
    <progressbar progress="objective.progress"></progressbar>
    <task-info-panel ng-show="taskIsSelected" ng-if="mode == 'expanded'"></task-info-panel>
</span>