message-overlay{
  opacity: 1;
  transition: .25s;

  message{
    margin-top: 45px;
    display: block;
  }

  button{
    padding: 10px;
    min-width: 80px;
    display: inline-block;
    margin-top: 15px;

    &:first-of-type{
      background: #87a585;
      border: solid 1px #377d30;
      color: white;
      margin-right: 25px;
    }

    &:last-child{
      background: #a37876;
      border: solid 1px #7d2e2f;
      color: white;
      margin-left: 25px;
    }
  }
}